.section-hero-banner {
  color: #fff;
  padding: 50px 0;
  background: url('./../../images/banner.jpeg') no-repeat;
  background-size: cover;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color: #000000, $alpha: .5);
  }
  h2 {
    position: relative;
    z-index: 2;
  }
}
